src/main/resources/wsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://tempuri.org/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://tempuri.org/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="BDCCLFService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strXML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BDCCLFServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BDCCLFServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BDCCLFServiceSoapIn">
    <wsdl:part name="parameters" element="tns:BDCCLFService" />
  </wsdl:message>
  <wsdl:message name="BDCCLFServiceSoapOut">
    <wsdl:part name="parameters" element="tns:BDCCLFServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="SwrsServiceSoap">
    <wsdl:operation name="BDCCLFService">
      <wsdl:input message="tns:BDCCLFServiceSoapIn" />
      <wsdl:output message="tns:BDCCLFServiceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SwrsServiceSoap" type="tns:SwrsServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BDCCLFService">
      <soap:operation soapAction="http://tempuri.org/BDCCLFService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SwrsServiceSoap12" type="tns:SwrsServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BDCCLFService">
      <soap12:operation soapAction="http://tempuri.org/BDCCLFService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SwrsService">
    <wsdl:port name="SwrsServiceSoap" binding="tns:SwrsServiceSoap">
      <soap:address location="http://localhost:14320/SwrsService.asmx" />
    </wsdl:port>
    <wsdl:port name="SwrsServiceSoap12" binding="tns:SwrsServiceSoap12">
      <soap12:address location="http://localhost:14320/SwrsService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>